<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <title>STEP - Main</title>
    </head>
    <style>
        @font-face {
            font-family: 'Dovemayo_gothic';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
        a {
            text-decoration: none;
        }
        p {
            color: black;
        }
        span {
            color: black;
        }
        a:hover {
            text-decoration: none !important;
        }
        .main_section .recommd ul li {
            float: left;
            margin-left: 20px;
            width: 300px;
            height: 300px;
            border-radius: 10px;
            /* overflow: hidden; */
        }
        .img_area > img {
            width: 198px;
            height: 198px;
        }
        .items_list {
            display: flex;
            justify-content: space-around;
        }
        ul {
            list-style: none;
        }

        .theme_tour .theme_tabs {
            display: flex;
            margin-bottom: 24px;
            justify-content: center;
        }
        .desc {
            max-width: 300px;
        }

        .theme_tour .theme_tabs::after {
            display: block;
            content: '';
            clear: both;
        }

        .theme_tour .theme_tabs li {
            float: left;
            padding: 0 20px;
            margin-right: 10px;
            margin-bottom: 13px;
            line-height: 42px;
            font-size: 16px;
            font-weight: 400;
            color: #999;
            border: 1px solid #ddd;
            border-radius: 50px;
            cursor: pointer;
            letter-spacing: -0.08em;
        }

        .theme_items_wrap .theme_items li a img {
            width: 100%;
            height: 75%;
        }
        .theme_items_wrap {
            display: flex;
            margin: auto;
            justify-content: center;
        }
        .theme_items {
            display: grid;
            margin-bottom: 30px;
            grid-template-rows: repeat(2, 300px);
            grid-template-columns: repeat(3, 300px);
            grid-column-gap: 60px;
            grid-row-gap: 20px;
        }
        .theme_tabs > li:hover {
            box-shadow: 0 0 10px #43604d; /* 파스텔 느낌의 그림자 */
            background-color: #43604d;
            color: white;
        }
        .carousel-item > img {
            max-height: 500px;
            object-fit: contain;
        }
        /* .carousel-item {
            height: 500px;
        } */
        #body_container {
            font-family: Dovemayo_gothic;
            /*margin-left: 5%;
            margin-right: 5%; */
        }
        .title {
            font-size: 23px;
            font-weight: bold;
            text-align: center;
            color: black;
        }
        @media screen and (max-width: 1080px) {
            .items_list {
                display: grid;
                place-items: center;
                grid-template-rows: repeat(2, 200px);
                grid-template-columns: repeat(2, 200px);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
            }
            .img_area > img {
                margin: auto;
                margin-left: 20px;
                width: 90%;
                height: 90%;
            }
        }
        @media screen and (max-width: 860px) {
            .more {
                color: white;
            }
            .theme_items {
                display: grid;
                grid-template-rows: repeat(3, 200px);
                grid-template-columns: repeat(2, 200px);
                grid-column-gap: 20px;
                grid-row-gap: 60px;
            }
        }

        /* 이미지 스타일 조정 */
        span > img {
            border-radius: 5px;
        }
    </style>

    <body>
        <!-- header -->
        <%-include('header.ejs')%>
        <p>메인페이지 입니다</p>
        <!-- 나중에  br 지울것!-->
        <br />
        <br />
        <br />
        <br />
        <div id="body_container">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!--  -->
                        <img src="../static/bannerMain1.png" class="d-block w-100" alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="../static/bannerMain2.png" class="d-block w-100" alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="../static/bannerMain3.png" class="d-block w-100" alt="..." />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <hr />
            <br />

            <h2 style="text-align: center">차박 입문 가이드</h2>
            <br />
            <ul class="items_list">
                <li>
                    <a href="/introCC#guide" target="_self">
                        <span class="img_area"
                            ><img src="about.jpg" alt="#" />
                            <p style="font-size: 16px">차박이란?</p>
                            <br />
                            <p class="more" style="font-size: 12px">알아보기</p></span
                        >
                    </a>
                </li>

                <li>
                    <a href="/introCC#about" target="_self">
                        <span class="img_area"
                            ><img src="cate1.jpg" alt="#" />
                            <p style="font-size: 16px">코로나 이후의 차박에 대해서</p>
                            <br />
                            <p class="more" style="font-size: 12px">알아보기</p></span
                        >
                    </a>
                </li>

                <li>
                    <a href="/recomCar#carRecom1" target="_self">
                        <span class="img_area"
                            ><img src="../1cate1.jpg" alt="#" />
                            <p style="font-size: 16px">차박 초심자를 위한 차는?</p>
                            <br />
                            <p class="more" style="font-size: 12px">차량보기</p></span
                        >
                    </a>
                </li>

                <li>
                    <a href="/recomCar#carRecom2" target="_self">
                        <span class="img_area"
                            ><img src="../2cate2.jpg" alt="#" />
                            <p style="font-size: 16px">차박에 익숙해졌다면 무슨 차를?</p>
                            <br />
                            <p class="more" style="font-size: 12px">차량 보기</p></span
                        >
                    </a>
                </li>
            </ul>
            <br />
            <hr />
            <br />
            <!-- https://www.modetour.com/main/default.aspx -->
            <h2 style="text-align: center">각 지역별 관광지</h2>
            <br />
            <div class="theme_tour">
                <ul class="theme_tabs">
                    <li class="" onclick="theme_clicked(1)">경기</li>

                    <li class="" onclick="theme_clicked(2)">강원</li>

                    <li class="" onclick="theme_clicked(3)">충청</li>

                    <li class="" onclick="theme_clicked(4)">경상</li>

                    <li class="on" onclick="theme_clicked(5)">전라</li>
                </ul>
                <div class="theme_items_wrap">
                    <ul class="theme_items">
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[0].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[0].spotName %></div>

                                    <span class="price"><%= result[0].information %></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[1].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[1].spotName %></div>

                                    <span class="price"><%= result[1].information %></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[2].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[2].spotName %></div>

                                    <span class="price"><%= result[2].information %></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[4].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[4].spotName %></div>

                                    <span class="price"><%= result[4].information %></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[3].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[3].spotName %></div>
                                    <span class="price"><%= result[3].information %></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/spot">
                                <span><img src="<%=result[5].image %>" /></span>
                                <div class="desc">
                                    <div class="title"><%= result[5].spotName %></div>

                                    <span class="price"><%= result[5].information %></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <button onclick="location.href = 'gear'">장비대여</button>
        <button onclick="location.href = '/spot'">지도스팟</button>
        <button onclick="location.href = '/gallery'">갤러리</button>
        <button onclick="location.href = '/signup'">회원가입</button>
        <button onclick="location.href = '/signin'">로그인</button> -->
            <!-- <button onclick="location.href = '/user/logout'">로그아웃</button>
        <button onclick="location.href = '/user/deleteUser'">회원탈퇴</button> -->
            <!-- main -->
            <!-- <div style="height: 1000px; background-color: blue"></div> -->
            <!-- Footer -->
        </div>
        <br />
        <br />
        <%-include('footer.ejs')%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>
            var datas = JSON.parse('<%- JSON.stringify(result) %>');
            console.log(datas);

            function theme_clicked(num) {
                const theme_items = document.querySelector('.theme_items');
                theme_items.textContent = '';
                num = num > 3 ? num + 1 : num;
                for (let i = 0; i < 6; i++) {
                    const id = Number(num - 1) * 10 + i;
                    theme_items.innerHTML += ` 
                        <li>
                            <a href="/spot">
                                <span><img src=${datas[id].image} /></span>
                                <div class="desc">
                                    <div class="title">${datas[id].spotName}</div>
                                    <span class="price">${datas[id].information}</span>
                                </div>
                            </a>
                        </li>
                        `;
                }
            }
        </script>
    </body>
</html>
