<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
        <style>
            @font-face {
                font-family: 'Dovemayo_gothic';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
                font-weight: normal;
                font-style: normal;
            }
            body,
            html {
                height: 100%;
                font-family: 'Dovemayo_gothic';
            }

            body {
                font-family: 'Dovemayo_gothic';
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .image {
                width: 130px;
                height: 130px;
                border-radius: 65px;
                margin: 20px 0px 10px 0px;
            }

            .profile-container {
                font-family: 'Dovemayo_gothic';
                display: flex;
                width: 200px;
                align-items: center;
                justify-content: space-around;
            }

        .profile-container {
            display: flex;
            height: 150px;
            width: 400px;
            align-items: center;
            justify-content: space-evenly;
            border: 2px solid #CCC;
            border-radius: 10px;
        }

            .name-text {
                font-size: 18px;
                font-weight: bolder;
            }

            .textline {
                line-height: 200%;
            }

            .line {
                border: 1px solid #ccc;
                width: 0.1;
                height: 100px;
            }

            hr {
                width: 90%;
            }

            .card-img-top {
                width: 100%;
                height: auto;
            }

            .button-container {
                width: 300px;
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

        .button-style {
            height: 35px;
            width: 70px;
            font-size: 11px;
            background-color: #43604D;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .card-body {
                position: relative;
                height: 200px;
            }

            .button-style1 {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
            .button-style:hover {
                background-color: #223127;
                color: white;
            }

        .spot-list-container {
            display: flex;
            margin-bottom: 20px;
        }

        .non-spot-container {
            display: flex;
            margin-bottom: 20px;
            flex-direction: column;
            align-items: center;
        }

        .non-spot {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .non-spot-text {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    

    <body>
        <div class="header"><%-include('header.ejs')%></div>
        <div style="margin-top: 100px">
            <img src="../static/bulguk.jpeg" alt="" class="image" />
        </div>

        <div class="name-text"><%= user.username %>님</div>



    <div style='margin-top: 10px'>
        <div class="profile-container">
            <div class="textline">
                <div>닉네임</div>
                <div>생년월일</div>
                <div>레벨</div>
                <div>차량 보유</div>

            </div>
            <div class="line"></div>
            <div class="textline">
                <div>
                    <%= user.nickname %>
                </div>
                <div class="line"></div>
                <div class="textline">
                    <div><%= user.nickname %></div>

                    <div><%= user.birth %></div>
                    <div><%if( user.levelc===1){%> 입문 <%}else if(user.levelc===2){%> 중수 <%}else{%> 고수 <%}%></div>
                    <div><%if( user.ownc===1){%> 없음 <%}else if(user.ownc===2){%> 있음 <%}else{%> 구매예정 <%}%></div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="button" onclick="updateUser()" class="btn button-style">정보수정</button>
            <button type="button" onclick="logoutUser()" class="btn button-style">로그아웃</button>
            <button type="button" onclick="deleteUser()" class="btn button-style">회원탈퇴</button>
        </div>
        <hr />

    <div class="spot-text">나의 캠핑스팟</div>
    <%if(galleryList.length===0){%>
        <div class="non-spot-container">
            <div class="non-spot">
                <div style="display: flex;">
                    <p>&#128558</p>
                    <div class="non-spot-text">
                        아직 올리신 캠핑스팟 글이 없으시군요!
                    </div>
                    <p>&#128558</p>
                </div>
            </div>
            <div>
                <button type="button" onclick="location.href='/gallery/reviewEdit'"
                    class="btn button-style">글쓰러가기</button>
            </div>
        </div>

        <%}else{%>

            <div class="spot-list-container">
                <%for(let i=0; i< galleryList.length; i++){%>
                    <div class="card" style="width: 16rem; margin-right: 10px;">
                        <img src="https://hwr-bucket.s3.ap-northeast-2.amazonaws.com/<%= galleryList[i].thunmnail %>"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= galleryList[i].title %>
                            </h5>
                            <p class="card-text">
                                <%= galleryList[i].title %>
                            </p>
                            <a href="/gallery/review?galleryId=<%= galleryList[i].galleryid %>"
                                class="btn button-style">이동하기</a>
                        </div>
                    </div>
                    <%}%>
                        <%}%>
            </div>

            <hr>

            <div class="spot-text">나의 장비추천글</div>
            <%if(gearList.length===0){%>
                <div class="non-spot-container">
                    <div class="non-spot">
                        <div style="display: flex;">
                            <p>&#128558</p>
                            <div class="non-spot-text">
                                아직 올리신 장비추천 글이 없으시군요!
                            </div>
                            <p>&#128558</p>
                        </div>
                    </div>
                    <div>
                        <button type="button" onclick="location.href='/gear/gearreviewEdit'"" class=" btn
                            button-style">글쓰러가기</button>
                    </div>
                </div>
                <%}else{%>
                    <div class="spot-list-container">
                        <%for(let i=0; i< gearList.length; i++){%>
                            <div class="card" style="width: 16rem; margin-right: 10px;">
                                <img src="https://hwr-bucket.s3.ap-northeast-2.amazonaws.com/<%= gearList[i].thunmnail %>"
                                    class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= gearList[i].gearTitle %>
                                    </h5>
                                    <p class="card-text">
                                        <%= gearList[i].gearExplain %>
                                    </p>
                                    <a href="/gallery/review?galleryId=<%= gearList[i].gearid %>"
                                        class="btn button-style">이동하기</a>
                                </div>
                            </div>
                            <%}%>
                    </div>
                    <%}%>
                        </div>
                        <script>


                            async function updateUser() {

                            }

                            async function logoutUser() {
                                location.href = '/user/logout/middle'
                            }

                            async function deleteUser() {
                                alert('정말 회원탈퇴 하시겠습니까?')
                                var nickname = '<%= user.nickname %>'
                                var id = '<%= user.id%>'
                                if (localStorage.getItem('kakaoToken') === null) {
                                    const res = await axios({
                                        method: 'DELETE',
                                        url: '/user/deleteUser',
                                        data: {
                                            nickname: nickname,
                                            id: id
                                        }
                                    })
                                    if (res.data.result === true) {
                                        localStorage.clear()
                                        alert('회원탈퇴가 완료되었습니다')
                                        location.href = '/'
                                    }
                                } else {
                                    const res = await axios({
                                        method: 'DELETE',
                                        url: '/user/deleteUser',
                                        data: {
                                            nickname: nickname,
                                            token: localStorage.getItem('kakaoToken'),
                                            id: id
                                        }
                                    })
                                    if (res.data.result === true) {
                                        localStorage.clear()
                                        alert('회원탈퇴가 완료되었습니다')
                                        location.href = '/'
                                    }
                                }

                            }
                        </script>
</body>

</html>
