<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://kit.fontawesome.com/8786e78429.js" crossorigin="anonymous"></script>
<<<<<<< HEAD
=======
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
>>>>>>> e9d53a53e5436e1e3b7ebac2282b6ebdae140225
        <style>
            #pictures {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .img--box {
                width: 300px;
                margin-left: 10px;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <%-include('header.ejs')%>
<<<<<<< HEAD

        <hr />
        <!-- user.name -->
        <div>???님의 캠핑스팟</div>
        <!-- 사진넘기기-->

=======
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <!-- user.name -->
        <div><%= userInfo.username %>님의 캠핑스팟</div>
        <!-- 사진넘기기-->

>>>>>>> e9d53a53e5436e1e3b7ebac2282b6ebdae140225
        <div id="pictures">
            <i class="fa-solid fa-arrow-left" onclick="left()"></i>
            <img id="img-box" class="img--box" src="<%= imgurl.urls[0] %>" />
            <i class="fa-solid fa-arrow-right" onclick="right()"></i>
        </div>

        <!-- 본문 -->
        <div>
            본문
            <div><%= mainText %></div>
        </div>
        <hr />
<<<<<<< HEAD
        <button onclick="location.href='/gallery/del'">삭제</button>
=======
        <button onclick="delReview('<%= galleryId %>')">삭제</button>
        <button onclick="location.href='/gallery/edit'">수정</button>
>>>>>>> e9d53a53e5436e1e3b7ebac2282b6ebdae140225
        <!-- 댓글-->
        <hr />
        <div>댓글</div>
        <%-include('footer.ejs')%>

        <script>
            // imgurl를 stringfy해준뒤에, 다시 parse해서 jsonobject를 만든다.
            // 나중에는 그냥 서버단에서 하는게 나을것같다.
            var imgurl = JSON.parse('<%- JSON.stringify(imgurl) %>').urls;
            console.log(typeof imgurl);
            console.log(imgurl);
            var currentImg = 0;

            var imgLength = imgurl.length;
            console.log(imgLength);
            function left() {
                console.log('left', currentImg);
                if (currentImg == 0) {
                    currentImg = imgLength - 1;
                } else {
                    currentImg--;
                }
                console.log(imgurl[currentImg]);
                document.querySelector('#img-box').src = imgurl[currentImg];
            }
            function right() {
                console.log('right', currentImg);
                if (currentImg == imgLength - 1) {
                    currentImg = 0;
                } else {
                    currentImg++;
                }
                console.log(imgurl, currentImg);
                document.querySelector('#img-box').src = imgurl[currentImg];
            }
<<<<<<< HEAD
=======

            async function delReview(gid) {
                const result = await axios({
                    url: '/gallery/review/del',
                    method: 'delete',
                    data: { gid },
                });
                console.log(result);
                if (result.data.error == 'no error') {
                    alert('삭제완료');
                    location.reload();
                }
            }
>>>>>>> e9d53a53e5436e1e3b7ebac2282b6ebdae140225
        </script>
    </body>
</html>
